{% extends 'layout.twig' %}
{% block page_title %}Error 404 - Not Found{% endblock %}

{% block content %}
<h4>
	Error
</h4>

<article>
	<header>
		<h2>
			404 Not Found
		</h2>
	</header>	
	<div style="padding:50px 0;">
		<p>
			The address you have entered does not exist.
		</p>
		<p>
			You can click <a href="javascript:history.go(-1)">here</a> to go back to the previous page you were visiting,
			or go to the <a href="{{ urlFor('home') }}">home page</a>.
		</p>
	</div>
</article>
<div class="pagination">
	<ul>
		<li><a href="{{ urlFor('home') }}"><i class="icon-double-angle-left"></i> Home</a></li>
	</ul>
</div>
{% endblock %}